
#nav_top ul ul {
	display: none;
}

#nav_top ul li:hover > ul {
	display: block;
}
	
	
	
#nav_top ul {
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 10px;
	border-radius: 0px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
#nav_top ul:after {
	content: ""; clear: both; display: block;
}
	

	
#nav_top ul li {
	float: left;
}
	#nav_top ul li:hover {
		background: #4b545f;
		background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
	}
		#nav_top ul li:hover a {
			color: black;
		}
	
	#nav_top ul li a {
		display: block;
		color: white;
		text-decoration: none;
	}
	
	
	
	
	
	
#nav_top ul ul {
	background: #fff; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
	z-index: 999;
}
	#nav_top ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
	}
		#nav_top ul ul li a {
			width: 120px;
			padding: 2px 0px 2px 5px;
			border: 1px solid #043C6B;
			border-top: 0px;
			text-align: left;
		}	
			#nav_top ul ul li a:hover {
				background: #25547B;
				color: #fff;
			}
			
			
			
			
#nav_top ul ul ul {
	position: absolute; left: 100%; top:0;
}










